@using Server.ServicesConnected.Auth.Models
@using Server.ServicesConnected.Auth.Models.AccountViewModels
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{

    ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"]</h2>
<div class="row  site-form-group">
    <div class="col-md-6">
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <h4>Use a local account to log in.</h4>
            <hr/>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="display-none"></label>
                <input autocomplete="off" asp-for="Email"
                       class="form-control"
                       placeholder="Email"/>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="display-none"></label>
                <input autocomplete="off" asp-for="Password" class="form-control" placeholder="Password"/>
            </div>
            <h5></h5>
            <div class="form-group">
                <button type="submit" class="btn btn-default account-form-button">Log in</button>
            </div>
            
            <div class="form-group">
                <div class="checkbox row">
                    <div class="col-md-5">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe"/>
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="danger-container">
                <p><span asp-validation-for="Email" class="text-danger"></span></p>
                <p><span asp-validation-for="Password" class="text-danger"></span></p>
            </div>

 
            <div class="form-group">
                <p class="account-link">
                    <a  asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Create new Account</a>
                </p>
            </div>
            <div class="form-group">
                <div class="col-md-5 account-link">
                    <a asp-action="ForgotPassword">Forgot your password?</a>
                </div>
            </div>
 
        </form>
        <h3></h3>
    </div>

    <div class="col-md-4 col-md-offset-2">
        <h4>Use another service to log in.</h4>
        <hr />
        @{
            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
            if (loginProviders.Count == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in loginProviders)
                            {
                                <button type="submit" class="btn btn-default account-form-button" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </div>
</div>

